.demo-container {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
}


.open-btn {
  color: black;

  border: 1px solid red;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}


.list-container {
  margin-top: 20px;
}